/* styles.css */

/* *************************************************************************************
From normalize.css
*/

/* remove list-style from lists */
ol, ul {
	list-style: none;
}

/* normalize margins and padding */
html, body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, p, blockquote, th, td
{
	margin: 0px;
	padding: 0px;
}


/* *************************************************************************************
set height and width to always include border
*/
* {
  box-sizing: border-box;
}

/* *************************************************************************************
handy classes
*/
.center {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}

.offScreen {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.rowLabel {
  font-weight: bold;
  margin-right: 10px;
}

.notify {
  font-size: larger;
  color: #005500;
  background-color: #ffff00cc;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.roundedCorners {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

/* *************************************************************************************
Global Site Styles
*/

html {
	margin:0px;
	font-size: 16px;		/* root font size  of 1rem */
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

a {
	text-decoration: none;
	/* font-weight: bold; */
}
a:link, a:visited {
	color: darkblue;
}
a:hover {
	color: blue;
}

h1 {line-height: 2.4rem; font-size: 2.2rem; font-weight: bold;}
h2 {line-height: 2.2rem; font-size: 2.0rem; font-weight: bold;}
h3 {line-height: 2.0rem; font-size: 1.8rem; font-weight: bold;}
h4 {line-height: 1.8rem; font-size: 1.6rem; font-weight: bold;}
h5 {line-height: 1.6rem; font-size: 1.4rem; font-weight: bold;}
h6 {line-height: 1.4rem; font-size: 1.2rem; font-weight: bold;}
p {line-height: 1.2rem; font-size: 1.0rem;}


/* *************************************************************************************
Layout
*/

body {
  background: url(./RiceTiledBgV1.png);
}

/* #content_main ul {margin: 1em 0px 1em 2em;}
#content_main ul li {line-height: 1.6rem; font-size: 1.4rem; margin-left: 2.0rem; list-style-type:disc;} */
body > header {
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffffcc;
  margin: 0 10px;
}

body > header > section {
  justify-content: space-around;
}

#topMenu {
  padding: 10px;
  margin: 0 10px;
  background-color: #ffffffcc;
  border-radius: 0.5em;
	box-shadow: 0.2em 0.2em 0.4em #172632;
  /* center the nav items */
  display: flex;
  justify-content: center;
}
#topMenu > ul > li > span {
  font-weight: bold;
}


#mainHeader {
  width: 60%;
  text-align: center;
}

#fontSizer {
  width: 60px;
}

#fontSizer li {
  text-align: center;
}

#fontSizer li span {
  display: inline-block;
  padding: 0 .5em;
  margin: .2em 0;
	background-color: #f1be11;
  border-radius: 0.5em;
	box-shadow: 0.2em 0.2em 0.4em #172632;
}

#fontSizer #smallerFont {
  font-size: 8px;
  line-height: 10px;
}
#fontSizer #smallFont {
  font-size: 11px;
  line-height: 13px;
}
#fontSizer #medFont {
  font-size: 14px;
  line-height: 16px;
}
#fontSizer #largeFont {
  font-size: 18px;
  line-height: 20px;
}
#fontSizer #largerFont {
  font-size: 22px;
  line-height: 24px;
}


#topSysMenu ul {
  justify-content: space-around;
  font-size: 1.4rem;
  font-weight: bold;
  height: 100px;
}

#topMenu li span {
  display: inline-block;
  padding: 0 .7em;
  margin: 0 .3em;
	line-height: 1.5em;
	background-color: #f1be11;
  border-radius: 0.5em;
	box-shadow: 0.2rem 0.2rem 0.4rem #172632;
}

#priNav ul.nav_info li {
	width:18em;
	padding:1em 1em 0 1em;
}

#priNav ul li a {
	display: block;
}

main > header {
  text-align: center;
}

main {
  justify-content: space-between;
  margin: 0 10px 10px 10px;
}

.thinItem {
  width: 300px;
}
.wideItem {
  width: 600px;
}
.widestItem {
  width: 100%;
}
main > article.thin {
  width: 370px;
}
main > article.wide {
  width: 740px;
}
main > article.table,
main > article.widest {
  width: 100%;
}
main > article > header {
  text-align: center;
}

header, article {
  background-color: #ffffffcc;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
article ol {
  list-style: decimal;
  margin-left: 20px;
}
article ol ol {
  list-style: lower-alpha;
  justify-content: space-between;
  margin: 10px;
}

article ol ol li {
  width: 600px;
  margin: 10px;
  background-color: #1ae70333;
}
article ol ol li > section > section {
  width: 270px;
  margin-right: 10px;
}
article ol ol li > section > aside {
  width: 280px;
}

section > header, article > header {
  background-color: #11960166;
}

/* *************************************************************************************
Main header
*/

#logo {
	/* background-color: white; */
	/* background-image: url(./RiceLogo2.png); */
	width: 120px;
	height: 100px;
}

.youtubeVideo {
  margin-top: 10px;
  /* width: 400px;
  height: 225px; */
  width: 350px;
  height: 196px;
}

table {
  border-spacing: 0; /* Removes the cell spacing */
  border-collapse: collapse;  /* remove double border where cells touch */
}

table tr td, table tr th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

table tbody tr:nth-of-type(even) > * {
  background-color: #0000dd09;
}

.expandCollapse:before {
  font-size: 30px;
  color: #000;
  position: absolute;
  left: 30px;
  padding-top: 15px;
}
.expandCollapse > section {
  display: none;
}
.expandCollapse:before {
  content: '\25b8'; /* Unicode character for Black right-pointing triangle */
  pointer-events: none;
}
.expandCollapse.expanded:before {
  content: '\25be'; /* Unicode character for Black down pointing triangle */
  pointer-events: none;
}
.expandCollapse.expanded > section {
  display: block;
}
/* .active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
/* } */


/* *************************************************************************************
Media adjustments
*/

/* *************************************************************************************
Table row dynamically collapse for thin screens using flex
*/
@media (max-width: 899px) {
  table thead {
    display: none;
  }
  table tbody tr {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 10px;
  }
  table {
    margin: 10px 0;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid var(--table-border);
  }
  table tr td, table tr th {
    text-align: left;
    width: 100%;
  }
  table tr td strong{
    text-align: left;
    width: 100%;
  }
  
}

/* *************************************************************************************
Normal Table display for wide screens
*/
@media (min-width: 900px) {
  table td strong {
    display: none;
  }
  table tbody tr {
    display: table-row
  }
  table tr td, table tr th {
    text-align: center;
  }
}
